In [1]:
import pandas as pd
import numpy as np
import xarray as xr
import os

In [2]:
# netCDF to csv
for i in ["merged_0.25_Precip.nc",
          "merged_0.25_Tmax.nc",
          "merged_0.25_Tmin.nc",
          "merged_0.25_Wind.nc"]:
    netcdf_file_name = i
    netcdf_file_in = netcdf_file_name
    csv_file_out = netcdf_file_name[:-3] + '.csv'
    ds = xr.open_dataset(netcdf_file_in)
    df = ds.to_dataframe()
    df.to_csv(csv_file_out)

In [22]:
# An example of how to process each dataset
df = pd.read_csv("merged_0.25_Wind.csv")
df = df[df["bnds"] == 0]
df = df.fillna(value = 0.0)
df = df[["time", "lon", "lat", "wind"]]
df.columns = ["Date", "Longitude", "Latitude", "wind"]

In [23]:
# Original training dataset without wind
training = pd.read_csv("Training_no_wind.csv")

In [25]:
# An example of column binding different variables
training = pd.concat([training, (df["wind"].reset_index())], axis=1)
training = training[["Date", "Longitude", "Latitude", "precipitation", "t_min", "t_max", "wind"]]

In [26]:
training

,Date,Longitude,Latitude,precipitation,t_min,t_max,wind
0,1981-01-01,90.00,1.00,0.0,0.000000,0.000000,0.000000
1,1981-01-01,90.00,1.25,0.0,0.000000,0.000000,0.000000
2,1981-01-01,90.00,1.50,0.0,0.000000,0.000000,0.000000
3,1981-01-01,90.00,1.75,0.0,0.000000,0.000000,0.000000
4,1981-01-01,90.00,2.00,0.0,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...
161530195,2022-12-31,109.25,33.50,0.0,271.133414,279.947811,0.736730
161530196,2022-12-31,109.25,33.75,0.0,271.020205,278.226049,0.567854
161530197,2022-12-31,109.25,34.00,0.0,269.330994,278.331184,0.396925
161530198,2022-12-31,109.25,34.25,0.0,268.554830,279.398387,0.754239
161530199,2022-12-31,109.25,34.50,0.0,269.778561,280.710221,0.500023

In [27]:
training.to_csv("../Training.csv")